@font-face {
    font-family: whimzee;
    src: url(whimzee.ttf);
}

body {
    line-height: 1.5;
    font-family: whimzee;
    margin: 5%;
}

header {
    line-height: 1.5;
    font-family: whimzee;
    font-size: 24px;
    margin: 5%;
}

h1, h2, h3 {
    line-height: 1.5;
    font-family: whimzee;
    margin: 5%;
}

h2, h3 {
    line-height: 1.5;
    font-family: whimzee;
    margin: 5%;
}
