@font-face {
    font-family: endor;
    src: url(ENDOR___.ttf);
}

body {
    line-height: 1.5;
    font-family: endor;
    margin: 5%;
}

header {
    font-family: endor;
    font-size: 32px;
}

h1{
    font-family: endor;
    font-size: 26px;
} 

h2 {
    font-family: endor;
    font-size: 20px;
}

p {
    font-family: endor;
    font-size: 16px;
}
