@font-face {
    font-family: whimzee;
    src: url(whimzee.regular.ttf);
}

body {
    line-height: 1.5;
    font-family: whimzee;
}

header {
    line-height: 1.5;
    font-family: whimzee;
    font-size: 24px;
}

h1, h2, h3 {
    font-family: whimzee;
}

h2, h3 {
    line-height: 1.5;
    font-family: whimzee;
}
